body {font-family: Arial; background: #f4f4f4; }
.container {width: 400px; margin: auto; background: #fff; padding: 20px; margin-top: 50px; border-radius: 8px;}
input, select, button {width: 100%; padding: 10px; margin: 5px 0;}
button {cursor: pointer;}
h2, h3 {text-align: center;}
